{% extends 'base.html' %}
{% block body_class %}agenda geen_filter{% endblock %}
{% block content %}
    <h1 class="top-headLine">{% block title %}{{_('Muziekagenda')}} {{data.location_name}} {{_('vanaf')}} {{data['now'] | format_the_date('agenda_header_date')}}{% endblock %}</h1>

<div class="row filter-top">
    <div class="col-4">
        <div class="input-group form-floating">
            <input class="form-control" id="datepicker" type="text" /> 
            <label for="wanneer-zoek">{{_('Wanneer')}}?</label> 
            <button class="btn btn-dark" type="button" id="button-addon2"><i class="bi bi-calendar3"></i></button>
        </div>
    </div>


    <div class="col">
        <div class="form-floating">
            <input id="waar-zoek" class="form-control" type="text" placeholder="waar" />
            <label for="waar-zoek">{{_('Waar')}}?</label> 
        </div>
    </div>
</div>

<div class="row">
{% if data.solr.response.numFound > 0 %}
    <div class="col-2">
    {% include 'facets.html' %}
    </div>
    <div class="col">
        {% set dateheader = namespace(value=1) %}
        {% include 'result_rows.html' %}
    </div>
{% endif %}
</div>
{% endblock %}

{% block script %}
    <script>ML['ac_data'] = {{data.location_autocomplete | tojson}}</script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
 
{% endblock %}
 
