    {% set nightmode = true %} 
<!doctype html>{% set locale = get_locale() %}
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Muziekladder</title>
    {% include 'css_includes.html' %}
</head>
  <body class="{% if nightmode %}nightmode {% endif %}{% block body_class %}{% endblock %}">
    {% include 'navbar_include.html' %}
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
    <script src="{{ url_for('static', filename='mc-calendar/mc-calendar.min.js') }}"></script>
    <script>
        var ML ={
            "locale":"{{locale}}",
            "root_url":"{{root_url}}",
            "nightmode": {{"true" if nightmode else "false"}}
        };
    </script>
   {% block script %}{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>

