    <!-- Bootstrap CSS -->
 
    {% if not nightmode %} 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_darkly.min.css')}}">
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='mc-calendar/mc-calendar.min.css')}}">
   {% block css  %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% if nightmode %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_night.css')}}">
    {% endif %}

