
           <h3>{{_('Provincie')}}</h3>
{% for f in data.solr.facets.provincie.buckets %}
            <div>{% if locale == 'nl' %}
                   {{data.city_groupings[f.val].group_name}} ({{f.count}})              {% endif %}
            </div>        
{% endfor %}

        <h3>{{_('Plaats')}}</h3>
{% for f in data.solr.facets.plaats.buckets %}
            <div>
            {{f.val}} ({{f.count}})
            </div>
{% endfor %}
        <h3>{{_('Plek')}}</h3>
{% for f in data.solr.facets.plek.buckets %}
            <div>
            {{f.val}} ({{f.count}})
            </div>
{% endfor %}

        <h3>{{_('Land')}}</h3>
{% for f in data.solr.facets.land.buckets %}
            <div>
            {{f.val}}
            </div>
{% endfor %}




