{% extends 'base.html' %}
{% block title %}{{_('Live muziek, concerten, theater, feest en optredens')}} {% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
   {% set show_searchbox_header = 1%}
   {% include 'search_box_large.html' %}
   <nav>
        <ul class="top-group-menu nav nav-pills nav-justified">
        {% for cg in data.city_groupings %}
            <li class="nav-item px-1 py-1"> <a class="nav-link" href="{{url_for('agenda.list',location='regio-' ~ cg.group_id)}}">
                {% if get_locale()=='nl' %}
                    {{ cg.group_name }}
                {% else %}
                    {{ cg.group_name_en }}
                {% endif %}
                </a></li>
        {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}
