{% extends 'base.html' %}
{% block title %}{{_('Evenementen en artiesten aanraden')}} {% endblock %}
{% block body_class %}muziek_formulier{% endblock %}
{% block content %}
    <h1 class="top-headLine">{{_('Evenementen of artiesten aanraden')}}</h1>
<p><em>{{_('Uw tips verschijnen direct op deze pagina en na controle ook in de Muziekladder agenda')}}.</em></p>
<div id="form_container">
</div>
{% endblock %}

{% block script %}
   <script>
        ML['city_options'] = {{data.city_options |safe}};
        ML['muziek_form_target'] = "{{url_for('form.muziekformulier_validate')}}"
        ML['bestand_target'] = "{{url_for('form.upload_file')}}"
 
   </script>
  
   <script src="{{ url_for('static', filename='node/dist/main.js') }}"></script>
    
{% endblock %}
