
    <nav class="navbar navbar-dark bg-dark top-menu-top">
        <div class="container justify-content-end lh-sm lang-links">
            <a class="nav-link active link-light lang-link" href="#">Nederlands</a> <span>|</span> <a class="nav-link link-light lang-link" href="#">English</a>
        </div>
    </nav>
    <nav class="top-menu-nav navbar sticky-top navbar-dark bg-dark">
      <!-- Navbar content -->
        <div class="container">
            <a href="{{ url_for('index.home')}}"><img class="top-logo" src ="{{ url_for('static', filename='images/logo.png')}}"></a>
            <div class="top-menu d-flex align-items-stretch">
                {% for item in menu %}
                <div class="menu-item click-me p-4 d-flex align-items-center" data-handler="menu-tab">
                    <a class="menu-item-link" href="{{item.url}}">{{item.text}}</a>
                </div>
                {% endfor%}
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="{{_('Zoek')}}" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">{{_('Zoek')}}</button>
            </form>
        </div>
    </nav>


