{% for e in data.solr.response.docs %}
{% if dateheader and dateheader.value %}
    {% if e.date_start_dt != dateheader.value %}
    {% set dateheader.value = e.date_start_dt %}
    <div class="row">
        <div class="col-12">
            <h2 class="agenda-list-header">{{e.date_start_dt|format_the_date('agenda_list_header')}}</h2>
        </div>
    </div>
    {% endif %}
{% endif %}
        <a class="agenda-link" href="#">
            <div class="row">
                <div class="col-6 result-title">
                    <strong>
                    {{ e.event_title_t }}
                    </strong>
                </div>
                <div class="col-4">
                    <strong>{{e.city_s}}</strong>,
                    <strong>{{e.venue_title_s}}</strong>
                </div>
                <div class="col text-end">
                    <em>{{e.date_start_dt|format_the_date}}</em>
                </div>
            </div>
        </a>
{% endfor %}

