    <div class="p-4 p-md-5 mb-4 mt-4 text-white rounded bg-dark">
        <div class="px-0">
            {% if show_searchbox_header %}
            <h1 class="headline pb-4 fst-italic ">{% block title %}{{_('Live muziek, concerten, theater, feest, optredens en meer')}}{% endblock %}</h1>
            {% endif %}
            <form autocomplete="off" method="get" action="{{url_for('search.find')}}">
                <div class="input-group">
                    <input id="zoek-balk" name="q" class="form-control form-control-lg" type="text" placeholder="{{_('zoek op plaats, artiest, zaal, evenement etc.')}}" {% if data.q %}value = "{{data.q}}"{%endif%} >
        
      <button class="btn btn-outline-light btn-dark" type="submit"><i class="bi bi-search"></i> {{_('Zoek')}} </button>
                </div>
            </form>
        </div>
    </div>
 



