{% extends 'base.html' %}
{% block body_class %}zoeken{% endblock %}
{% block content %}

{% include 'search_box_large.html' %}
<div class="row">
{% if data.solr.response.numFound > 0 %}
    <div class="col-2">
    {% include 'facets.html' %}
    </div>
    <div class="col">
    {% include 'result_rows.html' %}
    </div>
{% else %}
    <div class="col">
    <p>{{ _('Helaas... geen resultaten gevonden voor ')}}"<em>{{ data.q}}</em> "</p>
    <p>{{_('Probeer het a.u.b. opnieuw met een andere zoekopdracht')}}.</p>
    </div>
    
{% endif %}
</div>

{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
 
{% endblock %}
 
