body {
    background:#222;
}


.top-menu-top{ 
    border-bottom:1px solid #444;
    padding-bottom:0.1rem;
    padding-top:0.1rem;
    text-transform: uppercase;
}
.top-menu-top a.lang-link{
    font-size:0.8rem;
    color:#999;
}
.lang-links span{ color:#666}
.top-menu {
    height:5.5rem;
}
.top-menu a.menu-item-link{
    color:white;
    text-decoration:none;
    border-radius:0.25rem;
    text-transform: uppercase;
}

.top-menu .menu-item{
    border-top-left-radius:0.25rem;
    border-top-right-radius:0.25rem;
}
 
.top-menu .menu-item:hover{
    transition: background-color 0.1s linear;
    cursor:pointer;
    background:#000;
}

.top-menu .menu-item:hover a.menu-item-link{ 
    color:white;
}

 
ul.top-group-menu li a.nav-link{
    background:#375a7f;
    white-space:nowrap;
}
ul.top-group-menu li a.nav-link:hover{
 background:white;
}

/* agenda */

a.agenda-link{
    text-decoration:none;
}
.agenda-link .row{
    padding:4px 0rem;
    border-top:1px solid LightSlateGray;
}
.result-title {
border-left:0.5rem solid LightSlateGray;
}
.agenda-link .result-title strong{
    color:white;
}
/* date picker */
.mc-calendar--modal{z-index:1030}
.wide-dropdown{z-index:1030; min-width:100%}
.row.filter-top{
    margin-bottom:2rem
}

