body {
    background:#eeebe3
}

h1 {
    font-family: 'Patua One',Georgia,'Times New Roman',Times,serif;
}

h1.top-headLine{
    margin-bottom:2.5rem;
}
/* menu */
.top-menu-nav {
    padding-bottom:0rem;
    margin-bottom:2rem;
}
.top-logo{}
.top-menu-top{ 
    border-bottom:1px solid #444;
    padding-bottom:0.1rem;
    padding-top:0.1rem;
    text-transform: uppercase;
}
.top-menu-top a.lang-link{
    font-size:0.8rem;
    color:#999;
}
.lang-links span{ color:#666}
.top-menu {
    height:5.5rem;
}
.top-menu a.menu-item-link{
    color:white;
    text-decoration:none;
    border-radius:0.25rem;
    text-transform: uppercase;
}

.top-menu .menu-item{
    border-top-left-radius:0.25rem;
    border-top-right-radius:0.25rem;
}
 
.top-menu .menu-item:hover{
    transition: background-color 0.1s linear;
    cursor:pointer;
    background:#eeebe3;
}

.top-menu .menu-item:hover a.menu-item-link{ 
    color:black;
}

 
ul.top-group-menu li a.nav-link{
    background:aliceBlue;
    white-space:nowrap;
}
ul.top-group-menu li a.nav-link:hover{
 background:white;
}

/* agenda */
h2.agenda-list-header{
    font-family: 'Patua One',Georgia,'Times New Roman',Times,serif;
    padding:0.5rem 1rem 0.7rem 1rem;
    margin:1rem -1rem 0rem -1rem;
    font-size:1.4rem;
    background:black;
    color:white; 
}

a.agenda-link{
    text-decoration:none;
}
.agenda-link .row{
    padding:4px 0rem;
    border-top:1px solid white;
}
.result-title {
border-left:0.5rem solid white;
}
.agenda-link .result-title strong{
    color:black;
}
/* formulier */

.fieldset{border:1px solid #dee2e6;
    padding:1.5rem;
    border-radius:0.25rem;
}
.muziek_formulier .nav-tabs a{
    cursor:pointer;
    color:#999;
    transition: all 0.2s ease
}
.muziek_formulier .nav-tabs a.active{
color:white;
font-size: 1.1rem;
font-weight: bold;
}
.muziek_formulier .nav-tabs a.active .bullet{
    color:OrangeRed;
}
.muziek_formulier label .asterisk{
    color:OrangeRed;
}

.invalid-border{
    border-left:3px solid red;
    padding-left:0.3rem;
}
.invalid-border .form-control{
    border-color:#dc3545;
}
.invalid-border label{
    color:red;
} 
.invalid-border .invalid-feedback{
    display:block;
    padding:1rem;
}
.bnbDatePicker{padding-left:1rem; padding-bottom:1rem;}
.description{
    font-size:0.85rem;
    margin-bottom:1rem;
   font-style:italic; 
}
#textarea2{
    height:12rem
}
.muziek_formulier label{
font-size:1.5rem;
}
.mc-calendar--modal{z-index:1030}
.wide-dropdown{z-index:1030; min-width:100%}
.row.filter-top{
    margin-bottom:2rem
}
.nightmode .react-select__menu .react-select__menu-list .react-select__option{color:black}
.tab-content{background:white;}
.tab-pane{padding-top:1rem}
.nightmode .tab-content{background:#222;}
